@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  background-color: #e5e5e5;
  font-family: poppins;
}
#app {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

/* scroll */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(186, 186, 186, 0.671);
  border-radius: 10px;
}

.btnBlue {
  @apply bg-blueCustom text-white text-sm hover:bg-blue-600 duration-200 py-2 px-4 rounded-md flex gap-2 items-center;
}
.md-text {
  @apply text-2xl font-semibold;
}
.formLabel {
  @apply block mb-1 text-xs font-medium text-gray-900 uppercase;
}
.formInput {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}
.formSelect {
  @apply border-gray-200 border bg-gray-50 focus:border-blueCustom outline-blueCustom rounded-md py-2 w-full;
}
.formTelInp {
  @apply w-full pl-1 p-2.5 outline-none bg-transparent;
}
.formTelDiv {
  @apply flex items-center bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full;
}

@media (min-width: 240px) {
  html {
    font-size: 70%;
  }
  .container {
    width: 95%;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 85%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 90%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 110%;
  }
}
